
h1 {
    text-align: center;
    color: white;
}

img {
    align-content: center;
}
header p {
    color: white;
    text-align: center;
}
section {
    height: 700px;
}

h2 {
    text-align: center;
}
nav {
    background-color: white;
}
.head {
    background-image: url("http://www.decodemtl.com/assets/images/laptop.jpg");
}
title {
    font-weight: bold;
    font-style: inherit;
}

#faq {
    background-color: aliceblue;
}
.faq-list {
    width: 500px;
    background-color: #000000;
    color: white;
}
#curriculum {
    background-color: #000000;
    color: white;
}


#schedule {
    background-color: white;
}

#instructor {
    background-color: lightgray;
}

#instructor article {
    border: 1px dotted ;
}

p.question {
    font-weight: bold;
}
p.answer {
    font-style: italic;
}

article.p {
    text-decoration: overline;
}