/*General Styles*/

a {
    color: orangered;
}

header, section {
    min-height: 100vh;
}
section h2 {
    text-align: center;
    font-family: oswald, sans sans-serif;
    font-size: 2em;
}
/* header */

#main-header {
    text-align: center;
    color: white;
    background-color: #000000;
    background-repeat: no-repeat;
    background-size:cover ;
    font-style: inherit;
}
#main-header h1 {
    font-size: 2em;
}

#main-header p {
    font-size: 2em;
    text-decoration: underline;
    font-weight: bold;
}

/* nav */

#main-nav {
    list-style-type: none;
    
}
#main-nav {
    font-weight: bold;
}
/* faq */
#faq {
    background-color: aliceblue;
}
.faq-list {
    width: 500px;
    background-color:aliceblue;
    list-style-type: none;
    display: block;

}
#faq p {
    line-height: 2;
}
#faq .question {
    font-weight: bold;
    position: relative ;
}
#faq .answer {
    font-style: italic;
    font-weight: 100;
    position: relative;
}

/* Curriculum */

#curriculum {
    background-color: #000000;
    color: white;
}
.curriculum-list {
    background-color: grey;
    margin: auto;
    padding: 20px;
    list-style-position: inside;
    width: 500px;
    line-height: 1.5;

}
 .curriculum-section-title {
    background-color: rgba(0.0.0.0.5);
     font-style: normal;
     font-weight: 100;
}

 /* Schedule */

#Schedule {
    background-color: white;
    color: #000000;
}

 /* Instructor */

#instructor {
    background-color: lightgray;
}

#instructor a {
    text-decoration: underline;
}
.photo {
    border-radius: 50%;
}